<!--******************************************************************************
 *
 *  ITE5315 – Project 
 *  I declare that this assignment is my own work in accordance with Humber Academic Policy. 
 *  No part of this assignment has been copied manually or electronically from any other source 
 *  (including web sites) or distributed to other students.
 *
 *	Name: Saurabh Sharma & Taranjeet Singh 	Student ID: N01543808	Date: December 05, 2023
 *
******************************************************************************-->
<link rel="stylesheet" href="/stylesheets/style.css" />
<h3>
    Developed by Saurabh Sharma & Taranjeet Singh
    <p>N01543808</p>
</h3>
<nav id="">
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/api/restaurant">All Data</a></li>
    <li><a href="/api/restaurant/insert">Insert</a></li>
    <li><a href="/api/restaurant/delete">Delete</a></li>
    <li><a href="/api/restaurant/updateRestaurant">Update</a></li>
    <li class="dropdown">
      <a href="#">Search</a>
      <div class="dropdown-content">
        <a href="/api/restaurant/find">Cuisine</a>
        <a href="/api/restaurant/find">Borough</a>
      </div>
    </li>
    <li id="logoutLi" style="display: none;"><a href="/logout">Logout</a></li>

  </ul>
</nav>
    <canvas id="canvas_head"></canvas>
    <script type="module" src="/JavaScript/design_header.js"></script>
    <script src="/JavaScript/loginHandler.js"></script>