<link rel="stylesheet" href="/stylesheets/style.css" />
<h3>
    Developed by Saurabh Sharma & Taranjeet Singh
    <p>N01543808</p>
</h3>
<nav id="">
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/api/restaurant">All Data</a></li>
    {{#if isLoggedIn}}
      <li class="dropdown">
        <a href="#">Search</a>
        <div class="dropdown-content">
          <a href="/api/restaurant/find">Cuisine</a>
          <a href="/api/restaurant/find">Borough</a>
        </div>
      </li>
      <li><a href="/api/restaurant/insert">Insert</a></li>
      <li id="logoutLi"><a href="/logout">Signout</a></li>
    {{else}}
      <li class="dropdown">
        <a href="#">Search</a>
        <div class="dropdown-content">
          <a href="/api/restaurant/find">Cuisine</a>
          <a href="/api/restaurant/find">Borough</a>
        </div>
      </li>
      <li class="dropdown">
        <a href="#">SignIn</a>
        <div class="dropdown-content">
          <a href="/login">Login</a>
          <a href="/register">Register</a>
        </div>
      </li>
    {{/if}}
  </ul>
</nav>
<canvas id="canvas_head"></canvas>
<script type="module" src="/JavaScript/design_header.js"></script>
