<link rel="stylesheet" href="/stylesheets/formStyle.css" />
<h1>Add Restaurant</h1>

<form method="POST" action="/api/restaurant/insert">

    <div id="form-group">
        <label>Name:</label>
        <input class="form-control" name="name" type="text" required>
    </div>

     <div id="form-group">
        <label>Cuisine:</label>
        <select class="form-control" name="cuisine" required>
            <option value="">Select Cuisine</option>
            <option value="Italian">Italian</option>
            <option value="Chinese">Chinese</option>
            <option value="Japanese">Japanese</option>
            <option value="Indian">Indian</option>
            <option value="French">French</option>
            <option value="Mexican">Mexican</option>
           <option value="American">American</option>
           <option value="Other">Other</option>
        </select>
    </div>

    <div id="form-group">
        <label>Building:</label>
        <input class="form-control" name="address[building]" type="text" required>
    </div>

    <div id="form-group">
        <label>Street:</label>
        <input class="form-control" name="address[street]" type="text" required>
    </div>

    <div id="form-group">
        <label>Zipcode:</label>
        <input class="form-control" name="address[zipcode]" type="text" required>
    </div>

    <div id="form-group">
        <label>Borough:</label>
        <input class="form-control" name="address[borough]" type="text">
    </div>

    <div id="form-group">
        <label>Restaurant ID:</label>
        <input class="form-control" name="restaurant_id" type="text" required>
    </div>

     <div id="form-group">
        <label>Coordinates:</label>
        <input class="form-control" name="address[coord][0]" type="number" step="any" placeholder="Latitude" required>
        <input class="form-control" name="address[coord][1]" type="number" step="any" placeholder="Longitude" required>
    </div>

    <!-- Dynamic Grades Section -->
    <div id="grades-section">
        <label>Grades:</label>
        <div id="grade-fields"></div>
        <button type="button" id="add-grade">Add Grade</button>
    </div>

    <input class="btn btn-primary" type="submit" value="Submit" />
</form>
<script>
    document.getElementById('add-grade').addEventListener('click', function(event) {
        event.preventDefault();
        const gradeIndex = document.querySelectorAll('.grade-group').length;
        const gradeGroup = document.createElement('div');
        gradeGroup.classList.add('grade-group');
        gradeGroup.innerHTML = `
            <div id="form-group">
                <label>Grade Date:</label>
                <input class="form-control" name="grades[${gradeIndex}][date]" type="date">
            </div>
            <div id="form-group">
                <label>Grade:</label>
                <input class="form-control" name="grades[${gradeIndex}][grade]" type="text">
            </div>
            <div id="form-group">
                <label>Score:</label>
                <input class="form-control" name="grades[${gradeIndex}][score]" type="number">
            </div>
        `;
        document.getElementById('grade-fields').appendChild(gradeGroup);
    });
</script>