<link rel="stylesheet" href="/stylesheets/formStyle.css" />
<h1>Add Restaurant</h1>

<form method="POST" action="/api/restaurant/restaurants">

    <div id="form-group">
        <label>Name:</label>
        <input class="form-control" name="name" type="text" required>
    </div>

     <div id="form-group">
        <label>Cuisine:</label>
        <select class="form-control" name="cuisine" required>
            <option value="">Select Cuisine</option>
            <option value="Italian">Italian</option>
            <option value="Chinese">Chinese</option>
            <option value="Japanese">Japanese</option>
            <option value="Indian">Indian</option>
            <option value="French">French</option>
            <option value="Mexican">Mexican</option>
           <option value="American">American</option>
           <option value="Other">Other</option>
        </select>
    </div>

    <div id="form-group">
        <label>Building:</label>
        <input class="form-control" name="address[building]" type="text" required>
    </div>

    <div id="form-group">
        <label>Street:</label>
        <input class="form-control" name="address[street]" type="text" required>
    </div>

    <div id="form-group">
        <label>Zipcode:</label>
        <input class="form-control" name="address[zipcode]" type="text" required>
    </div>

    <div id="form-group">
        <label>Borough:</label>
        <input class="form-control" name="address[borough]" type="text">
    </div>

    <div id="form-group">
        <label>Restaurant ID:</label>
        <input class="form-control" name="restaurant_id" type="text" required>
    </div>

    <!-- Coordinates and Grades are not included as they might require a different approach or more complex input -->

    <input class="btn btn-primary" type="submit" value="Submit" />
</form>
